
html{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* the below is for mobile screens... */
@media only screen and (max-width: 400px) {   
    body {
        background-color: #DDBBFF;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .avatarBox{

    }

    #avatar{
        width: 50vw;
        height: 50vh;

        background-image: url("./../assets/squirrel.png");
        background-repeat: no-repeat;

        background-size: 100%;
    }

    .acorn1{

    }

    .acorn2{

    }

    .acornImage{
        width: 25vw;
        height: 25vh;

        background-image: url("./../assets/acorn.png");
        background-repeat: no-repeat;

        background-size: 100%;
    }
}