
/* the below is for mobile screens... */
@media only screen and (max-width: 400px) {
    body {
        display: grid;
        grid-template-columns: 33vw 34vw 33vw;
        grid-template-rows: 16vh 8vh 23vh 15.5vh 20vh 13vh;
    }

    .hamburg{
        position: relative;
        left: 2vh;
        top: 2vh;
        width: 5vh;
        height: 5vh;

        background-image: url("./../assets/icon-hamburger.svg");
        background-repeat: no-repeat;
        background-size: contain;
        filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(90deg) brightness(100%) contrast(100%);
    }

    .hiText{
        grid-column: 1 / 4;
        grid-row: 2;
        justify-self: center;
        font-size: 5vh;
    }

    .avatarBox{
        justify-self: center;
        grid-column: 2;
        grid-row: 3;
    }

    #avatar{
        width: 50vw;
        height: 25vh;

        background-image: url("./../assets/squirrel.png");
        background-repeat: no-repeat;

        background-size: contain;
    }

    .acorn1{
        position: relative;
        left: 2vw;
        padding-top: 2vh;
        grid-column: 1;
        grid-row: 4;
        justify-self: center;
    }

    .acorn2{
        position: relative;
        right: 2vw;
        padding-top: 2vh;
        grid-column: 3;
        grid-row: 4;
        justify-self: center;
    }

    .acornImage{
        width: 25vw;
        height: 25vh;

        background-image: url("./../assets/acorn.png");
        background-repeat: no-repeat;

        background-size: 100%;
    }

    .bottomNav{
        background-color: #A726F5;
        grid-column: 1 / 4;
        grid-row: 6;
        width: 100vw;
        height: 15vh;
        border-radius: 3vh;
        border: 1px solid black;

        display: grid;
        grid-template-columns: 25vw 25vw 25vw 25vw;
        grid-template-rows: auto;
    }

    .navIcon{
        height: 8vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
        top: 0.8vh;
    }

    .homeIcon{
        grid-column: 1;
        background-image: url("./../assets/homeIcon.png");
    }

    .graphIcon{
        grid-column: 2;
        background-image: url("./../assets/chartIcon.png");
    }

    .medalIcon{
        grid-column: 3;
        background-image: url("./../assets/medalIcon.png");
    }

    .acornIcon{
        grid-column: 4;
        background-image: url("./../assets/acorn.png");
    }

    .statsBox{
        background-color: white;
        width: 36vw;
        height: 12vh;
        border-radius: 2vh;
        border: 1px solid black;
        justify-self: center;
        grid-row: 5;

        padding: 1.2vh;

        font-size: 3vh;
    }
    .boxLeft{
        grid-column: 1;
        position: relative;
        left: 7.5vw;

        display: grid;
        grid-template-rows: 6vh 6vh;
    }
    .boxRight{
        grid-column: 3;
        position: relative;
        right: 7.5vw;
    }

    .subTop{
        grid-row: 1;
    }
    .subBottom{
        grid-row: 2;
        display: grid;
        grid-template-columns: 18vw 18vw;
    }
    
    .subLeft{
        grid-column: 1;
    }
    #acornStats{
        height: 4.5vh;
        background-image: url("./../assets/acorn.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
    .subRight{
        grid-column: 2;
    }
}