
/* the below is for mobile screens... */
@media only screen and (max-width: 400px) {
    body {
        display: grid;
        grid-template-columns: 33vw 34vw 33vw;
        grid-template-rows: 6vh 26.9vh 27.6vh 1vh 1vh 20vh 13vh; /* 82.5vh */
    }

    .title{
        width: 100vw;
        display: inline;
        padding: 2vh;
    }
    .pageIcon{
        display: inline-block;
        width: 4vh;
        height: 4vh;
        background-image: url("./../assets/leaderIconMain.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .pageTitle{
        display: inline-block;
        margin-left: 2vw;
        text-transform: uppercase;
        font-size: 3.05vh;
    }

    .bottomNav{
        background-color: rgba(233, 233, 233, 0.347);
        grid-column: 1 / 6;
        grid-row: 7;
        width: 100vw;
        height: 15vh;
        border-radius: 3vh;

        display: grid;
        grid-template-columns: 18vw 18vw 28vw 18vw 18vw;
        grid-template-rows: auto;
    }

    .navHome{
        background-color: rgba(233, 233, 233, 0.347);
        width: 17.5vh;
        height: 17.5vh;
        border-radius: 50%;

        grid-column: 1 / 6;
        grid-row: 6 / 8;

        justify-self: center;
        position: relative;
        top: 12.5vh;
    }

    .innerNavHome{
        display: block;
        position: absolute;
        left: 6.25%;
        top: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        background-color: #DDBBFF;
        width: 87.5%;
        height: 87.5%;
        border-radius: 50%;
    }

    #homeIcon{
        background-color: #613EEA;

        display: block;
        position: absolute;
        left: 7.5%;
        top: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);

        width: 85%;
        height: 85%;
        border-radius: 50%;

        background-image: url("./../assets/homeIcon.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 55%;
    }

    .navIcon{
        height: 6vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
        top: 0.8vh;
    }

    .rewardsIcon{
        grid-column: 1;
        background-image: url("./../assets/rewardsIcon.png");
    }

    .rewardsText{grid-column: 1;}

    .leaderIcon{
        grid-column: 2;
        background-image: url("./../assets/leaderIconMain.png");
    }

    .leaderText{grid-column: 2;}

    .investIcon{
        grid-column: 4;
        background-image: url("./../assets/investIcon.png");
    }

    .investText{grid-column: 4;}

    .accountIcon{
        grid-column: 5;
        background-image: url("./../assets/accountIcon.png");
    }

    .accountText{grid-column: 5;}
    
    .topUserPart{
        grid-column: span;
        grid-row: 2;
        width: 100vw;

        display: flex;
        justify-content: center;
    }

    .topUserBox{
        height: 32vh;
        width: 45.5vw;

        display: grid;
        grid-template-rows: auto auto auto auto;
        justify-content: center;

        /* background-color: #bbeeff; */
    }

    .mostText{
        grid-row: 1;
        text-align: center;
        /* background-color: #3eea6c; */
        display: flex;
        justify-content: center;
        align-items: flex-end;

        color: #5F41B2;
        font-size: 3.05vh;
    }
    .avatarHolder{
        grid-row: 2;
        /* background-color: #ea3eb9; */
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #avatarImage{
        background-image: url("./../assets/leadingAvatar.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        width: 40vw;
        height: 13vh;
    }
    .name{
        grid-row: 3;
        text-align: center;
        /* background-color: #3ec8ea; */
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 2vh;
    }
    .amount{
        grid-row: 4;
        text-align: center;
        /* background-color: #ead93e; */
        display: flex;
        justify-content: center;
        align-items: flex-start;

        
        color: #5F41B2;
        font-size: 2.2vh;
        font-weight: 600;
    }

    .leaderboardBox{
        grid-column: span;
        grid-row: 3;
        width: 100vw;
        height: 32vh;

        margin-top: 2.5vh;
        display: grid;
        grid-row: 9.4vh 9.4vh 9.4vh;
        justify-content: center;
        align-items: center;
    }

    .boardPosition{
        background-color: #F4F6F9;
        height: 8.5vh;
        width: 80vw;
        border-radius: 5vh;

        display: grid;
        grid-template-columns: 13vw 13vw 41vw 13vw; /* adds to 80vw */
        align-items: center;
        justify-content: center;

        padding-left: 2vw;
        padding-right: 2vw;
    }

    .rank{
        grid-column: 1;
        text-align: center;
        color: #211791;
        font-weight: 600;
    }

    #rank2, #rank3, #rank4{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    }

    #rank2{background-image: url("./../assets/rank2Profile.png");}
    #rank3{background-image: url("./../assets/rank3Profile.png");}
    #rank4{background-image: url("./../assets/rank4Profile.png");}

    .userProfilePic{
        grid-column: 2;
        display: flex;
        justify-content: center;
    }
    .userName{
        grid-column: 3;
        text-align: left;
        padding-left: 2vw;
    }
    .score{
        grid-column: 4;
        text-align: center;
        color: #211791;
        font-weight: 600;
    }
}