
/* the below is for mobile screens... */
@media only screen and (max-width: 400px) {
    body {
        display: grid;
        grid-template-columns: 33vw 34vw 33vw;
        grid-template-rows: 8vh 16vh 10vh 18vh 10.5vh 20vh 13vh; /* 82.5vh */
    }

    .title{
        width: 100vw;
        display: inline;
        padding: 2vh;
    }
    .pageIcon{
        display: inline-block;
        width: 4vh;
        height: 4vh;
        background-image: url("./../assets/rewardsIconMain.png");
        background-repeat: no-repeat;
        background-size: contain;
    }
    .pageTitle{
        display: inline-block;
        margin-left: 2vw;
        text-transform: uppercase;
        font-size: 3.05vh;
    }

    .bottomNav{
        background-color: rgba(233, 233, 233, 0.347);
        grid-column: 1 / 6;
        grid-row: 7;
        width: 100vw;
        height: 15vh;
        border-radius: 3vh;

        display: grid;
        grid-template-columns: 18vw 18vw 28vw 18vw 18vw;
        grid-template-rows: auto;
    }

    .navHome{
        background-color: rgba(233, 233, 233, 0.347);
        width: 17.5vh;
        height: 17.5vh;
        border-radius: 50%;

        grid-column: 1 / 6;
        grid-row: 6 / 8;

        justify-self: center;
        position: relative;
        top: 12.5vh;
    }

    .innerNavHome{
        display: block;
        position: absolute;
        left: 6.25%;
        top: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);
        background-color: #DDBBFF;
        width: 87.5%;
        height: 87.5%;
        border-radius: 50%;
    }

    #homeIcon{
        background-color: #613EEA;

        display: block;
        position: absolute;
        left: 7.5%;
        top: 50%;
        transform: translateX(-50%);
        transform: translateY(-50%);

        width: 85%;
        height: 85%;
        border-radius: 50%;

        background-image: url("./../assets/homeIcon.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: 55%;
    }

    .navIcon{
        height: 6vh;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        position: relative;
        top: 0.8vh;
    }

    .rewardsIcon{
        grid-column: 1;
        background-image: url("./../assets/rewardsIconMain.png");
    }

    .rewardsText{grid-column: 1;}

    .leaderIcon{
        grid-column: 2;
        background-image: url("./../assets/leaderIcon.png");
    }

    .leaderText{grid-column: 2;}

    .investIcon{
        grid-column: 4;
        background-image: url("./../assets/investIcon.png");
    }

    .investText{grid-column: 4;}

    .accountIcon{
        grid-column: 5;
        background-image: url("./../assets/accountIcon.png");
    }

    .accountText{grid-column: 5;}

    .box1{
        margin-top: 4vh;
        grid-row: 2;
        width: 76vw;
        height: 10vh;
        display: flex;

        align-items: center;

        padding-left: 7.5vw;

        grid-column: 1 / 4;
        background-color: rgba(233, 233, 233, 0.347);
        border-radius: 4vh;
        justify-self: center;
    }

    .box1 .icon{
        display: inline-block;
        width: 5vh;
        height: 5vh;
        background-image: url("./../assets/coinsStack.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .box1 .value{
        display: inline-block;
        margin-left: 20vw;

        font-size: 4.25vh;
    }

    .shopTitle{
        grid-row: 3;

        background-image: url("./../assets/ShopTitle.png");
        background-repeat: no-repeat;
        background-size: contain;

        margin-top: 2vh;
        width: 76vw;
        height: 5vh;
        display: flex;

        align-items: center;

        padding-left: 7.5vw;

        grid-column: 1 / 4;
        
        justify-self: center;
    }

    .acc{
        grid-row: 4;

        background-image: url("./../assets/accChooser.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        width: 76vw;
        height: 18vh;
        display: flex;

        justify-self: center;
        justify-content: center;
        align-items: center;

        padding-left: 7.5vw;

        grid-column: 1 / 4;
        
        justify-self: center;
    }

    .hair{
        grid-row: 5;

        background-image: url("./../assets/hairChooser.png");
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;

        width: 76vw;
        height: 18vh;
        display: flex;

        justify-self: center;
        justify-content: center;
        align-items: center;

        margin-top: 2vh;
        padding-left: 7.5vw;

        grid-column: 1 / 4;
        
        justify-self: center;
    }
}